div {
	background-color: white;
    text-align: center;
	}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: white;
    text-align: center;
    }

body {
    background-color: black;
    }